@import '../config';

section.left-section {
    display: flex;
    flex-direction: column;
    position: relative;

    section.clickable {
        @include Flex(c, c);
        flex-grow: 1;
        cursor: pointer;
        transition: .1s;
        user-select: none;
        
        div.image {
            @include FullSize;
            pointer-events: none;

            figure {
                @include Flex(c, c);
                @include FullSize;
    
                img {
                    height: 80%;
                    user-select: none;
                    -webkit-tap-highlight-color: transparent;
                }
            }
        }

        @media (max-width: 768px) {
            flex-grow: 0;

            div.image {
                figure {

                    img {
                        height: 55%;
                    }
                }
            }
        }
    }

    section.progress {
        div {
            padding: .5em;
            color: $clr-white;
            @include Flex(none, c);
            background: #303030;

            p {
                @include Clamp(.8, 4, 1);
            }

            span {
                @include Rectangle(clamp(20px, 4vw, 40px));
                margin-right: 1em;

                svg { @include FullSize; }
            }

            p {
                flex-grow: 1;
                text-align: center;
            }

            &.gold {
                p {
                    color: gold;
                    font-weight: 700;
                    font-family: 'Comfortaa', cursive;
                }
            }

            &.exp {
                position: relative;
                overflow: hidden;

                p,
                span { @include Layer(3); }

                span.fill-exp-bar {
                    position: absolute;
                    z-index: 2;
                    left: 0;
                    top: 0;
                    background: $clr-blued;
                    height: 100%;
                    width: 0%;
                }
            }

            &.stats {
                p {
                    text-align: auto;
                    background: red($color: #000000);
                    font-weight: 700;

                    span {
                        @include Rectangle(clamp(20px, 4vw, 30px));
                    }

                    &:nth-child(1) {
                        @include Flex(none, c);
                    }

                    &:nth-child(2) {
                        @include Flex(fe, c);
                        span { margin: 0 0 0 1em; }
                    }
                }
            }
        }
    }
}