@import '../config';

section.left-section {
    display: flex;
    flex-direction: column;
    position: relative;

    section.clickable {
        @include Flex(c, c);
        flex-grow: 1;
        cursor: pointer;
        transition: .1s;
        
        div.image {
            figure {
                @include Flex(c, c);
    
                img {
                    width: 100%;
                }
            }
        }
    }

    section.progress {
        div {
            padding: .5em;
            color: $clr-white;
            @include Flex(none, c);
            background: #303030;

            span {
                @include Rectangle(40px);
                margin-right: 1em;

                svg { @include FullSize; }
            }

            p {
                flex-grow: 1;
                text-align: center;
            }

            &.gold {
                p {
                    color: gold;
                    font-weight: 700;
                    font-family: 'Comfortaa', cursive;
                }
            }

            &.exp {
                position: relative;
                overflow: hidden;

                p,
                span { @include Layer(3); }

                span.fill-exp-bar {
                    position: absolute;
                    z-index: 2;
                    left: 0;
                    top: 0;
                    background: $clr-blued;
                    height: 100%;
                    width: 0%;
                }
            }

            &.stats {
                p {
                    text-align: auto;
                    background: red($color: #000000);
                    font-weight: 700;

                    span {
                        @include Rectangle(30px);
                    }

                    &:nth-child(1) {
                        @include Flex(none, c);
                    }

                    &:nth-child(2) {
                        @include Flex(fe, c);
                        span { margin: 0 0 0 1em; }
                    }
                }
            }
        }
    }
}