@import '../config';

section.right-section {
    transition: .3s;

    section.container {
        overflow-y: scroll;
        height: 100vh;
        padding-bottom: 8em;
    }

    span.upgrades-toggler {
        position: fixed;
        top: 50%;
        translate: 150% -50%;
        right: 0;
        @include Rectangle(clamp(25px, 7vw, 30px));
        @include Flex(c, c);
        background: $clr-blued;
        z-index: 10;
        cursor: pointer;
        transition: .3s;

        svg {
            color: $clr-white;
            @include FullSize(80%);
        }
    }

    article.upgrade {
        @include Flex(sb);
        margin-bottom: 2em;

        figure {
            width: 15%;
            aspect-ratio: 1;
            height: max-content;

            img {
                @include FullSize;
                object-fit: cover;
            }
        }

        section.right {
            width: 85%;
            padding: .5em;
            background: rgba(30, 30, 30, .9);
            border-radius: 0 .25em .25em 0;
            @include Flex(sb, none, c);

            section.description {
                p {
                    &.header {
                        color: $clr-white;
                        font-weight: 700;
                        font-family: 'Comfortaa', cursive;
                        margin-bottom: .25em;
                    }

                    &.text {
                        font-size: .8rem;
                        color: $clr-grey;
                    }
                }
            }

            section.functionality {
                @include Flex(sb);
                margin-top: 1.25em;

                div.left {
                    @include Flex(sb, sb, c);
                    flex-grow: 1;

                    p {
                        &.what {
                            font-size: .85rem;
                            font-family: 'Comfortaa', cursive;
                            color: $clr-white;
                            padding-right: 2em;
        
                            span {
                                font-size: inherit;
                                color: $clr-orange;
                            }
                        }

                        &.quantity {
                            font-size: .75rem;
                            color: $clr-grey;
                            margin-top: .5em;
                        }
                    }
                }

                button {
                    @include Flex(sb, c, c);
                    padding: .25em 2em;
                    outline: 0;
                    height: max-content;
                    border: 2px solid $clr-orange;
                    border-radius: .25em;
                    background: rgba(255, 68, 0, 0.589);
                    cursor: pointer;
                    transition: .3s;

                    label,
                    span {
                        @include Clamp(.8, 4, .9);
                    }

                    label {
                        color: $clr-white;
                        text-transform: uppercase;
                        font-family: 'Comfortaa', cursive;
                        font-weight: 700;
                        margin-bottom: .2em;
                    }

                    span {
                        @include Flex(none, c);
                        color: $clr-white;

                        svg {
                            @include Rectangle(20px);
                        }
                    }

                    &:hover {
                        border-color: transparent;
                        box-shadow: 0 0 5px orange;
                    }
                }
            }
        }

        @media (max-width: 480px) {
            flex-direction: column;

            figure {
                width: 100%;
                aspect-ratio: 2;
            }

            section.right {
                width: 100%;

                section.functionality {
                    flex-direction: column-reverse;

                    button {
                        margin-bottom: 1em;
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        position: fixed;
        right: 0;
        top: 0;
        background: #303030;
        z-index: 9;
        translate: -100% 0;

        span.upgrades-toggler {
            translate: 100vw -50%;
        }
    }
}