/*
    font-family: 'Inter', sans-serif;
    200 - 700

    font-family: 'Comfortaa', cursive;
    300 - 700
*/

@import './config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 22px;
}


body {
    font-family: 'Inter', sans-serif;
    background-image: url('../images/background.jpg');
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;

    main.main-container-wrap {
        height: 100vh;
        @include Flex(sb, none, c);

        section.right-section,
        section.left-section {
            width: 48%;
            height: 82vh;
            padding-top: .5em;
        }
    }

    div.two-sections-wrap {
        @include Flex(sa);
    }

    article.skill-article-result {
        position: fixed;
        top: 0;
        right: 0;
        font-size: 1rem;
        background: #252525;
        padding: 1em;
        border-radius: .15em;
        z-index: 10;
        @include Flex(sb, c);

        p {
            &.p-info {
                border-radius: 50%;
                text-align: center;
                background: $clr-white;
                color: $clr-black;
                font-size: 1.25rem;
                margin-left: 1em;
                @include Rectangle(40px);
                font-weight: 800;
                @include Flex(c, c);
            }

            &.p-text {
                color: $clr-white;
                font-family: 'Comfortaa', cursive;                
                font-weight: 700;
                @include Clamp(.75, 4, .9);

                span {
                    color: $clr-orange;
                    font-size: inherit;
                }
            }
        }

        @media (max-width: 480px) {
            width: 100%;
        }
    }

    @media (max-width: 768px) {
        main.main-container-wrap {
            section.right-section,
            section.left-section {
                width: 100vw;
                height: 100vh;
                padding: 0;
            }
        }
    }
}

@media (max-width: 768px) {
    div.App,
    div#root {
        overflow-x: hidden;
        width: 100vw;
    }
}