/*
    font-family: 'Inter', sans-serif;
    200 - 700

    font-family: 'Comfortaa', cursive;
    300 - 700
*/

@import './config';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 22px;
}

body {
    font-family: 'Inter', sans-serif;
    background-image: url('../images/background.jpg');
    overflow: hidden;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;

    main.main-container-wrap {
        height: 100vh;
        @include Flex(sb, none, c);

        section.right-section,
        section.left-section {
            width: 48%;
            height: 82vh;
            padding-top: .5em;
        }
    }

    div.two-sections-wrap {
        @include Flex(sa);
    }
}